/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
      
  /* Fixed width container class that will "auto-center" itself */
  .container {
    width: 1200px;
    margin: 0 auto;
  }
  
  .btn {
    font-weight: bold;
    width: 200px;
    border: 2px solid black;
    background-color:royalblue;
    color:white;
    box-shadow: 10px 5px 5px black;
    
}

.row{
    background-color: turquoise;
    margin-bottom: 15px;
    display: inline-flex;

}
.col{
    justify-content: space-evenly;
    width: 50px;
    padding-right: 15px;
    margin-right: 15px;
    display: flex;

    .nav{
        width: 900px;
        background-color: grey;
        display: flex;
    
        
    }
    .nav-title{
        color: white;
        margin-right: 200px;
    }
    .nav-links{
        display: inline-flex;
        color: white;
        justify-content:space-evenly;
        align-items: center;
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }
    
    {
        justify-content: space-evenly;
    }
    #btn{
        margin-left: 120px;
        background-color: aqua;
        color: white;
        box-shadow: 5px 2px black;
    }
    .href{
        color:white;
        justify-content: space-evenly;
        margin: 20px;
    
    }